/* Remove extra margin & padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Hide horizontal scroll */
}

/* Sidebar */
.sidebar {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh; /* Full height */
  width: 250px; /* Sidebar width */
  background-color: #151313;
  color: #fccc42;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

}

/* Main Content */
.main-content {
  margin-left: 250px; /* Adjust according to sidebar width */
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 0% !important;

}

.content{
  padding: 0% !important;
  margin: 0% !important;
}
